/* 
1.Basic 
2.Top Bar 



*/




body,html {
height:100%;
width:100%;
}

body,h1,h2,h3,h4,h5,h6 {
font-family:Raleway, sans-serif;
}

h1 {
font-size:3em;
}

h2 {
font-size:2em;
}

.top-bar {
min-height:40px;
background:#363b3f;
}

.lead {
font-size:18px;
font-weight:400;
}

.domain {
background:#363b3f;
min-height:120px;
border-left:1px solid #e14d43;
box-shadow:0 2px .001px #3c4145;
}

.intro-header {
padding-top:50px;
padding-bottom:50px;
color:#f8f8f8;
background:url(../img/intro-bg.jpg) no-repeat center center;
background-size:cover;
text-align:center;
}

.intro-message {
position:relative;
padding-top:20%;
padding-bottom:20%;
}

.intro-message > h1 {
font-size:5em;
text-shadow:2px 2px 3px rgba(0,0,0,0.6);
margin:0;
}

.intro-divider {
width:400px;
border-top:1px solid #f8f8f8;
border-bottom:1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
text-shadow:2px 2px 3px rgba(0,0,0,0.6);
}

.network-name {
text-transform:uppercase;
font-size:14px;
font-weight:400;
letter-spacing:2px;
}

.content-section-a {
background-color:#fff;
padding:50px 0;
}

.content-section-b {
padding:50px 0;
}

.section-heading {
margin-bottom:30px;
}

.section-heading-spacer {
border-top:3px solid #e7e7e7;
width:200px;
float:left;
}

.banner {
color:#f8f8f8;
background:url(../img/banner-bg.jpg) no-repeat center center;
background-size:cover;
padding:100px 0;
}

.banner h2 {
text-shadow:2px 2px 3px rgba(0,0,0,0.6);
font-size:3em;
margin:0;
}

.banner ul {
margin-bottom:0;
}

.banner-social-buttons {
float:right;
margin-top:0;
}

footer {
background-color:#363b3f;
padding:50px 0;
}

p.copyright {
margin:15px 0 0;
}

.bar-header button {
background:#363b3f;
font-size:14px;
border:1px solid #222;
color:#FFF;
border-radius:4px;
padding:6px 8px 8px 6px;
}

.divider-180 {
height:180px;
}

.divider-60 {
height:60px;
}

.divider-30 {
height:30px;
}

.divider-40 {
height:40px;
}

.divider-20 {
height:20px;
}

.divider-10 {
height:10px;
}

section.offer {
background:#363b3f;
color:#FFF;
}

section.offer h4 {
line-height:45px;
}

section.offer p {
color:#575a5c;
margin:0;
padding:0;
}

section.offer a {
color:red;
}

.header .col-md-8 {
background:#363b3f;
min-height:100px;
}

.header .col-md-4 {
background:#e14d43;
min-height:100px;
}

.header .col-md-4 h4 {
margin-top:30px;
color:#FFF;
}

.header span {
left:-7px;
top:45px;
color:#e14d43;
position:absolute;
}

.slice:nth-child(even) {
background:#f2f2f2;
}

.slice:nth-child(odd) {
background:#FFF;
border:1px solid #e5e5e5;
}

.slice {
color:#333;
line-height:40px;
}

.content-section-a button {
background:#e14d43;
font-size:14px;
color:#FFF;
border:1px solid #c74037;
border-radius:2px;
padding:5px 14px;
}

.content-section-a .row:last-child {
margin:20px 0 0;
}

.cont {
padding:10px;
}

.news .col-lg-8 .col-lg-4 h3 {
border-bottom:1px solid #e14d43;
}

.reset-m {
margin:0;
}

.reset-p {
padding:0;
}

.value {
margin-top:30px;
}

.carousel-control {
color:#363b3f;
}

.navbar-header a {
display:inline-block;
margin-top:15px;
}

.carousel-control span {
border-radius:50%;
height:30px;
margin-left:-12px;
border:2px solid #363b3f;
padding:2px;
}

.testimonials {
margin-left:20px;
min-height:120px;
background:#363b3f;
}

.testimonials p {
padding-top:30px;
padding-bottom:30px;
margin-left:60px;
margin-right:65px;
}

.testimonials img:last-child {
position:absolute;
right:20px;
top:40px;
}

.testimonials img:first-child {
position:absolute;
left:20px;
top:40px;
}

.pad-left {
padding-left:0;
}

.pad-right {
padding-right:0;
}

.min_ikon {
height:40px;
width:40px;
display:table-cell;
vertical-align:middle;
line-height:40px;
text-align:center;
background:#2b2f32;
margin-left:1px;
}

span.text_normal {
color:#67696b;
font-size:14px;
line-height:40px;
margin-left:20px;
}

select.special {
position:absolute;
left:-3px;
border-left:none;
border-top-left-radius:0;
border-bottom-left-radius:0;
}

.author_reviews {
margin-left:20px;
}

.title_page {
margin-top:30px;
margin-bottom:30px;
}

.bar-header,.header {
background:#e14d43;
}

.bar-header p,.domain h4,.header .col-md-8 h2,.min_ikon i,.text_normal span,footer .widget-title {
color:#FFF;
}

.domain h1,.header .col-md-8 p {
color:#e14d43;
}

.divider-25,.divider-15 {
height:25px;
}

section.offer .col-md-3 .row,section.offer .col-md-3 {
margin:0;
padding:0;
}

@media max-width 767px {
.intro-message {
padding-bottom:15%;
}

.intro-message > h1 {
font-size:3em;
}

.intro-divider {
width:100%;
}

.banner h2 {
text-shadow:2px 2px 3px rgba(0,0,0,0.6);
font-size:3em;
margin:0;
}

.divider-180 {
height:90px;
}

.divider-60 {
height:30px;
}

.divider-30 {
height:15px;
}

.divider-40 {
height:20px;
}

.divider-25 {
height:12.5px;
}

.divider-15 {
height:7.5px;
}

.divider-10 {
height:5px;
}

ul.intro-social-buttons > li,ul.banner-social-buttons > li {
display:block;
margin-bottom:20px;
padding:0;
}

ul.intro-social-buttons > li:last-child,ul.banner-social-buttons > li:last-child {
margin-bottom:0;
}
}

@media max-width 1199px {
ul.banner-social-buttons {
float:left;
margin-top:15px;
}
}
.bg_our_skils{
background:#e5e5e5;
height:100%;
}