/*
Theme Name: Hosting Theme
Description: Hosting Theme
Version: 1.1
Tags: Black, Hosting

*/
.cont ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.cont li{
	color:#333333;
    line-height:40px;
} 
.cont li:nth-child(even) {
    background: #f2f2f2;
}
.cont li:nth-child(odd) {
    background: #FFF;
    border:  1px solid #e5e5e5;
}